                   <!-- About -->
                   <section class="about-section overflow-hidden pt-100 pb-50 position-relative">
                    <div class="container position-relative">
                        <div class="row flex-wrap-reverse gy-4">
                            <div class="col-lg-6">
                                <div class="about-img rtl">
                                    <img src="/images/12626417021644473699.png" alt="about" />
                                </div>
                            </div>
                            <div class="col-lg-6 align-self-center">
                                <div class="section-title">
                                    <h6 class="subtitle text--base">We Are Secure</h6>
                                    <h2 class="title">Your Secure and Stable Payment Gateway</h2>
                                    <p>
                                        We are a Zambian company providing a reliable payment solution that connects mobile money wallets, local banks, and international banks. Our platform ensures secure transactions, offering you peace of mind whether you're transferring money locally or across borders.                    </p>
                                </div>
                                <div class="about-feature-wrapper">
                                    <div class="about-feature-item">
                                        <div class="icon">
                                            <i class="fas fa-shipping-fast"></i>
                                        </div>
                                        <div class="cont">
                                            <h5 class="subtitle">Faster And Cheaper</h5>
                                            <p>
                                                Deserunt hic consequatur ex placeat! atque repellendus inventore quisquam                            </p>
                                        </div>
                                    </div>
                                    <div class="about-feature-item">
                                        <div class="icon">
                                            <i class="fas fa-user-shield"></i>
                                        </div>
                                        <div class="cont">
                                            <h5 class="subtitle">Trusted & Secure</h5>
                                            <p>
                                                Deserunt hic consequatur ex placeat! atque repellendus inventore quisquam                            </p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <span class="banner-elem elem3">&nbsp;</span><span class="banner-elem elem7">&nbsp;</span>
                </section>
                <!-- About --> 
