<section class="ctas-section pt-100 bg--section pb-100 position-relative overflow-hidden">
    <div class="container">
        <div class="row gy-5 flex-wrap-reverse justify-content-between">
            <div class="col-xl-6 col-lg-7">
                                <div class="row g-4">
                                            <div class="col-sm-6">
                            <div class="counter-item">
                                <div class="counter-icon">
                                    <i class="fas fa-users"></i>
                                </div>
                                <div class="counter-content">
                                    <h3 class="counter-title">
                                        <span class="count">890M</span>
                                    </h3>
                                    <h6 class="counter-subtitle">Happy Clients</h6>
                                </div>
                            </div>
                        </div>
                                            <div class="col-sm-6">
                            <div class="counter-item">
                                <div class="counter-icon">
                                    <i class="fas fa-exchange-alt"></i>
                                </div>
                                <div class="counter-content">
                                    <h3 class="counter-title">
                                        <span class="count">96M</span>
                                    </h3>
                                    <h6 class="counter-subtitle">Total Transactions</h6>
                                </div>
                            </div>
                        </div>
                                            <div class="col-sm-6">
                            <div class="counter-item">
                                <div class="counter-icon">
                                    <i class="fas fa-dollar-sign"></i>
                                </div>
                                <div class="counter-content">
                                    <h3 class="counter-title">
                                        <span class="count">$890M</span>
                                    </h3>
                                    <h6 class="counter-subtitle">Total Deposit</h6>
                                </div>
                            </div>
                        </div>
                                            <div class="col-sm-6">
                            <div class="counter-item">
                                <div class="counter-icon">
                                    <i class="fas fa-money-check-alt"></i>
                                </div>
                                <div class="counter-content">
                                    <h3 class="counter-title">
                                        <span class="count">$456M</span>
                                    </h3>
                                    <h6 class="counter-subtitle">Total Withdraw</h6>
                                </div>
                            </div>
                        </div>
                                    </div>
                            </div>
            <div class="col-xl-5 col-lg-5 align-self-center">
                <div class="section-title mb-4 pb-3">
                    <h6 class="subtitle text--base">Our Statistics</h6>
                    <h2 class="title">We are here for you!</h2>
                    <p>
                        With a growing user base and a proven track record, we are dedicated to providing reliable payment solutions. Join thousands of satisfied customers who trust us for secure transactions and exceptional service.                    </p>
                </div>
                <a href="/user/register" class="cmn--btn">Get Started</a>
            </div>
        </div>
    </div>
    <span class="banner-elem elem1">&nbsp;</span>
    <span class="banner-elem elem3">&nbsp;</span>
    <span class="banner-elem elem5">&nbsp;</span>
    <span class="banner-elem elem6">&nbsp;</span>
</section>            
