<!-- FAQs -->
<section class="faqs-section pt-50 pb-100">
    <div class="container">
        <div class="row flex-wrap-reverse gy-5">
            <div class="col-lg-6">
                                                                                    <div class="accordion-wrapper">
                            <div class="accordion-item open active">
                                <div class="accordion-title">
                                    <h6 class="title">
                                        What payment methods does your gateway support?
                                    </h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="accordion-content">
                                    <p>
                                        Our payment gateway supports a variety of methods, including mobile money wallets such as Airtel Money and MTN Mobile Money, as well as local banks like Zanaco and FNB. We also facilitate Visa and mastercad payment to cater to your diverse needs.
                                    </p>
                                </div>
                            </div>
                        </div>
                                                                                            <div class="accordion-wrapper">
                            <div class="accordion-item ">
                                <div class="accordion-title">
                                    <h6 class="title">
                                        How do I integrate your payment gateway with my website?
                                    </h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="accordion-content">
                                    <p>
                                        Integrating our payment gateway is straightforward. You can choose from embedded platform integrations for Shopify, WooCommerce, and WordPress, or use our API for custom integration. Detailed documentation and support are available to assist you throughout the process.
                                    </p>
                                </div>
                            </div>
                        </div>
                                                                                            <div class="accordion-wrapper">
                            <div class="accordion-item ">
                                <div class="accordion-title">
                                    <h6 class="title">
                                        Is my financial information secure with your payment gateway?
                                    </h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="accordion-content">
                                    <p>
                                        Yes, your security is our top priority. We employ bank-level security measures, including advanced encryption technologies and multi-factor authentication, to protect your sensitive information and ensure secure transactions.
                                    </p>
                                </div>
                            </div>
                        </div>
                                                                                            <div class="accordion-wrapper">
                            <div class="accordion-item ">
                                <div class="accordion-title">
                                    <h6 class="title">
                                        What should I do if I encounter an issue with a transaction?
                                    </h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="accordion-content">
                                    <p>
                                        If you experience any issues, our dedicated customer support team is available 24/7 to assist you. You can reach out to us via email, phone, or our online support chat for prompt resolution.
                                    </p>
                                </div>
                            </div>
                        </div>
                                                                                            <div class="accordion-wrapper">
                            <div class="accordion-item ">
                                <div class="accordion-title">
                                    <h6 class="title">
                                        Are there any fees associated with using your payment gateway?
                                    </h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="accordion-content">
                                    <p>
                                        Yes, our payment gateway operates on a competitive fee structure. We offer some of the lowest transaction fees in the market, ensuring that you maximize your profits while enjoying high-quality service. For a detailed breakdown of our fees, please refer to our pricing page.
                                    </p>
                                </div>
                            </div>
                        </div>
                                                                                                                                                                                                                                                                                                    </div>
            <div class="col-lg-6">
                <div class="sticky-section-title ps-xl-3 ps-xxl-4">
                    <div class="section-title mb-0">
                        <h6 class="subtitle text--base">FAQs</h6>
                        <h2 class="title">Frequently Asked Questions</h2>
                        <p>
                            Have questions? We’ve got answers! Don't hesitate to contact us if you have any inquiries.                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQs -->            
