<!-- FAQs -->
<section class="faqs-section pt-50 pb-100">
    <div class="container">
        <div class="row flex-wrap-reverse gy-5">
            <div class="col-lg-6">
                                                                                    <div class="accordion-wrapper">
                            <div class="accordion-item open active">
                                <div class="accordion-title">
                                    <h6 class="title">
                                        Deserunt hic consequatur ex placeat?
                                    </h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="accordion-content">
                                    <p>
                                        First : Aut, expedita optio? Quis ab laudantium, facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo?

Second : Facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo? Dignissimos beatae officia repellat maiores!
                                    </p>
                                </div>
                            </div>
                        </div>
                                                                                            <div class="accordion-wrapper">
                            <div class="accordion-item ">
                                <div class="accordion-title">
                                    <h6 class="title">
                                        Deserunt hic consequatur ex placeat?
                                    </h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="accordion-content">
                                    <p>
                                        First : Aut, expedita optio? Quis ab laudantium, facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo?

Second : Facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo? Dignissimos beatae officia repellat maiores!
                                    </p>
                                </div>
                            </div>
                        </div>
                                                                                            <div class="accordion-wrapper">
                            <div class="accordion-item ">
                                <div class="accordion-title">
                                    <h6 class="title">
                                        Deserunt hic consequatur ex placeat?
                                    </h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="accordion-content">
                                    <p>
                                        First : Aut, expedita optio? Quis ab laudantium, facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo?

Second : Facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo? Dignissimos beatae officia repellat maiores!
                                    </p>
                                </div>
                            </div>
                        </div>
                                                                                            <div class="accordion-wrapper">
                            <div class="accordion-item ">
                                <div class="accordion-title">
                                    <h6 class="title">
                                        Deserunt hic consequatur ex placeat?
                                    </h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="accordion-content">
                                    <p>
                                        First : Aut, expedita optio? Quis ab laudantium, facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo?

Second : Facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo? Dignissimos beatae officia repellat maiores!
                                    </p>
                                </div>
                            </div>
                        </div>
                                                                                            <div class="accordion-wrapper">
                            <div class="accordion-item ">
                                <div class="accordion-title">
                                    <h6 class="title">
                                        Deserunt hic consequatur ex placeat?
                                    </h6>
                                    <span class="icon"></span>
                                </div>
                                <div class="accordion-content">
                                    <p>
                                        First : Aut, expedita optio? Quis ab laudantium, facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo?

Second : Facilis similique est alias, possimus expedita dolorum fugit mollitia, optio quo? Dignissimos beatae officia repellat maiores!
                                    </p>
                                </div>
                            </div>
                        </div>
                                                                                                                                                                                                                                                                                                    </div>
            <div class="col-lg-6">
                <div class="sticky-section-title ps-xl-3 ps-xxl-4">
                    <div class="section-title mb-0">
                        <h6 class="subtitle text--base">FAQs</h6>
                        <h2 class="title">Frequently Asked Questions</h2>
                        <p>
                            Deserunt hic consequatur ex placeat! atque repellendus inventore quisquam, perferendis, eum reiciendis quia nesciunt fuga magni.                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- FAQs -->            