<!-- Feature -->
<section class="feature-section pt-100 pb-50 position-relative">
    <span class="banner-elem elem10">&nbsp;</span>
    <span class="banner-elem elem6">&nbsp;</span>
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="sticky-section-title">
                    <div class="section-title mb-0">
                        <h6 class="subtitle text--base">Your Benefits</h6>
                        <h2 class="title">Take The Stress Out Of Managing Your Wallet</h2>
                        <p>
                            Deserunt hic consequatur ex placeat! atque repellendus inventore quisquam, perferendis, eum reiciendis quia nesciunt fuga magni.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                                    <div class="feature-wrapper">
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/11228532431644465552.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Global Coverage</h5>
                                    <p>
                                        Minus quasi quis nesciunt, porro sunt soluta laborum dolore voluptas natus ratione iste vel, rem neque earum, repellendus voluptate! Quam, soluta.                                    </p>
                                </div>
                            </div>
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/9520810491646279362.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Lowest Fee</h5>
                                    <p>
                                        Minus quasi quis nesciunt, porro sunt soluta laborum dolore voluptas natus ratione iste vel, rem neque earum, repellendus voluptate! Quam, soluta.                                    </p>
                                </div>
                            </div>
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/4080473251644466179.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Simple Transfer Methods</h5>
                                    <p>
                                        Minus quasi quis nesciunt, porro sunt soluta laborum dolore voluptas natus ratione iste vel, rem neque earum, repellendus voluptate! Quam, soluta.                                    </p>
                                </div>
                            </div>
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/4808291231644466203.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Instant Processing</h5>
                                    <p>
                                        Minus quasi quis nesciunt, porro sunt soluta laborum dolore voluptas natus ratione iste vel, rem neque earum, repellendus voluptate! Quam, soluta.                                    </p>
                                </div>
                            </div>
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/18431945771644466228.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Bank-level Security</h5>
                                    <p>
                                        Minus quasi quis nesciunt, porro sunt soluta laborum dolore voluptas natus ratione iste vel, rem neque earum, repellendus voluptate! Quam, soluta.                                    </p>
                                </div>
                            </div>
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/13995404631644466245.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Global 24/7 Support</h5>
                                    <p>
                                        Minus quasi quis nesciunt, porro sunt soluta laborum dolore voluptas natus ratione iste vel, rem neque earum, repellendus voluptate! Quam, soluta.                                    </p>
                                </div>
                            </div>
                                            </div>
                            </div>
        </div>
    </div>
</section>
<!-- Feature -->            