<!-- Feature -->
<section class="feature-section pt-100 pb-50 position-relative">
    <span class="banner-elem elem10">&nbsp;</span>
    <span class="banner-elem elem6">&nbsp;</span>
    <div class="container">
        <div class="row gy-5">
            <div class="col-lg-6">
                <div class="sticky-section-title">
                    <div class="section-title mb-0">
                        <h6 class="subtitle text--base">Your Benefits</h6>
                        <h2 class="title">Simplify Your Wallet Management</h2>
                        <p>
                            Eliminate the hassle of wallet management with our user-friendly solutions. We make it easy to track your transactions, manage funds, and ensure your financial activities are seamless and stress-free.                        </p>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                                    <div class="feature-wrapper">
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/11228532431644465552.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Global Coverage</h5>
                                    <p>
                                        Experience payment solutions that transcend borders. Our platform offers extensive global coverage, ensuring you can conduct transactions securely and efficiently, no matter where you are. Enjoy peace of mind knowing that your payments reach their destination seamlessly.                                    </p>
                                </div>
                            </div>
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/9520810491646279362.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Lowest Fee</h5>
                                    <p>
                                        Enjoy the benefits of competitive pricing with our low transaction fees. We are committed to providing cost-effective payment solutions, ensuring that you maximize your profits without compromising on quality or service.                                    </p>
                                </div>
                            </div>
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/4080473251644466179.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Simple Transfer Methods</h5>
                                    <p>
                                        Experience hassle-free transactions with our straightforward transfer options. We integrate seamlessly with Zambia's local wallets like Airtel Money and MTN Mobile Money, as well as major banks such as Zanaco and FNB.                                    </p>
                                </div>
                            </div>
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/4808291231644466203.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Instant Processing</h5>
                                    <p>
                                        Enjoy lightning-fast transaction processing with our payment gateway. Our advanced technology ensures that your payments are processed instantly, allowing you to access your funds without delay.                                    </p>
                                </div>
                            </div>
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/18431945771644466228.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Bank-level Security</h5>
                                    <p>
                                        We prioritize your financial integrity with our robust security protocols. Utilizing cutting-edge encryption technologies and multi-layered authentication methods.                                    </p>
                                </div>
                            </div>
                                                    <div class="feature-item">
                                <div class="feature-icon">
                                    <img src="/images/13995404631644466245.png">
                                </div>
                                <div class="feature-content">
                                    <h5 class="feature-title text--base">Global 24/7 Support</h5>
                                    <p>
                                        We are dedicated to providing unparalleled customer service with our round-the-clock global support.                                    </p>
                                </div>
                            </div>
                                            </div>
                            </div>
        </div>
    </div>
</section>
<!-- Feature -->            
