<!-- Service -->
<section class="service-section pt-50 pb-50 position-relative overflow-hidden">
    <div class="container position-relative">
        <div class="section-title text-center">
            <h6 class="subtitle text--base">Services</h6>
            <h2 class="title">What We Serve to You</h2>
            <p>
                We provide seamless integration with your financial network. Our platform is designed to simplify payments, enhance convenience, and support your financial growth.            </p>
        </div>
                    <div class="row g-4 justify-content-center">
                                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="far fa-money-bill-alt"></i>
                            </div>
                            <div class="feature-content">
                                <h5 class="title">
                                    <a href="#0">Embedded Platform Integration</a>
                                </h5>
                                <p>
                                    Seamlessly integrate payments with popular platforms like Shopify, WooCommerce, and WordPress.                                </p>
                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fas fa-download"></i>
                            </div>
                            <div class="feature-content">
                                <h5 class="title">
                                    <a href="#0">Custom API Integration</a>
                                </h5>
                                <p>
                                    Connect your website to our payment gateway using our robust API, offering a flexible and secure payment solution tailored to your business.                                </p>
                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fas fa-upload"></i>
                            </div>
                            <div class="feature-content">
                                <h5 class="title">
                                    <a href="#0">End-to-End Payment Solutions</a>
                                </h5>
                                <p>
                                    Let us handle your entire payment setup. We provide businesses with complete online payment integration when contacted.                                </p>
                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="far fa-check-circle"></i>
                            </div>
                            <div class="feature-content">
                                <h5 class="title">
                                    <a href="#0">Comprehensive Payment Support</a>
                                </h5>
                                <p>
                                   We don’t just integrate—we support. From setup to ongoing assistance, we cover all your integration needs for a seamless payment experience.                                </p>
                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fas fa-qrcode"></i>
                            </div>
                            <div class="feature-content">
                                <h5 class="title">
                                    <a href="#0">Digital Wallet</a>
                                </h5>
                                <p>
                                    Get ready for our digital wallet, which will provide an easy way to store, manage, and use your funds securely.                                </p>
                            </div>
                        </div>
                    </div>
                                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <div class="service-icon">
                                <i class="fas fa-wallet"></i>
                            </div>
                            <div class="feature-content">
                                <h5 class="title">
                                    <a href="#0">Local & International Transfers</a>
                                </h5>
                                <p>
                                    Facilitate both local and cross-border payments with ease. Our gateway supports secure transactions.                                </p>
                            </div>
                        </div>
                    </div>
                            </div>
            </div>
    <span class="banner-elem elem3">&nbsp;</span>
    <span class="banner-elem elem7">&nbsp;</span>
    <span class="banner-elem elem2">&nbsp;</span>
    <span class="banner-elem elem5">&nbsp;</span>
    <span class="banner-elem elem8">&nbsp;</span>
</section>
<!-- Service -->            
