 <!-- Sponsors -->
 <section class="sponsor-section pt-50 pb-100">
    <div class="container">
        <div class="section-title text-center">
            <h6 class="subtitle text--base">Sponsors</h6>
            <h2 class="title">Genious Wallet Brand Sponsors</h2>
             <p>
                Deserunt hic consequatur ex placeat! atque repellendus inventore quisquam, perferendis, eum reiciendis quia nesciunt fuga magni.            </p>
        </div>
                    <div class="sponsor-slider owl-theme owl-carousel">
                                    <div class="sponsor-item">
                        <img src="https://product.geniusocean.com/genius-wallet/assets/images/4506843581646279391.png" alt="sponsor">
                    </div>
                                    <div class="sponsor-item">
                        <img src="https://product.geniusocean.com/genius-wallet/assets/images/4240436131646279399.png" alt="sponsor">
                    </div>
                                    <div class="sponsor-item">
                        <img src="https://product.geniusocean.com/genius-wallet/assets/images/6956855071646279421.png" alt="sponsor">
                    </div>
                                    <div class="sponsor-item">
                        <img src="https://product.geniusocean.com/genius-wallet/assets/images/3515199711644469859.png" alt="sponsor">
                    </div>
                                    <div class="sponsor-item">
                        <img src="https://product.geniusocean.com/genius-wallet/assets/images/18874078061644469864.png" alt="sponsor">
                    </div>
                                    <div class="sponsor-item">
                        <img src="https://product.geniusocean.com/genius-wallet/assets/images/5588095611644469870.png" alt="sponsor">
                    </div>
                                    <div class="sponsor-item">
                        <img src="https://product.geniusocean.com/genius-wallet/assets/images/8676066221646279428.png" alt="sponsor">
                    </div>
                                    <div class="sponsor-item">
                        <img src="https://product.geniusocean.com/genius-wallet/assets/images/13654331771646279436.png" alt="sponsor">
                    </div>
                                    <div class="sponsor-item">
                        <img src="https://product.geniusocean.com/genius-wallet/assets/images/2093287281644469889.png" alt="sponsor">
                    </div>
                            </div>
            </div>
</section>
<!-- Sponsors -->         