                    <!-- Testimonial -->
                    <section class="testimonial-section bg--section pt-100 pb-100 overflow-hidden position-relative">
                        <div class="container">
                            <div class="section-title text-center">
                                <h6 class="subtitle text--base">Testimonials</h6>
                                <h2 class="title">What Clients Say About Us</h2>
                                <p>
                                    Deserunt hic consequatur ex placeat! atque repellendus inventore quisquam, perferendis, eum reiciendis quia nesciunt fuga magni.            </p>
                            </div>
                                        <div class="testimonial-slider owl-carousel owl-theme">
                                                        <div class="testimonial-item">
                                            <div class="testimonial-header">
                                                <div class="thumb">
                                                    <img src="https://product.geniusocean.com/genius-wallet/assets/images/17542701511644467352.png">
                                                </div>
                                                <div class="icon">
                                                    <i class="fas fa-quote-left"></i>
                                                </div>
                                            </div>
                                           
                                            <div class="testimonial-content">
                                                <p>
                                                    Incidunt maxime necessitatibus maiores voluptate, error vero velit, consequuntur ut porro  cumque beatae sed repellendus in non nulla at                            </p>
                                                <h5 class="name text--base mt-3">Peter Parker</h5>
                                            </div>
                                        </div>
                                                        <div class="testimonial-item">
                                            <div class="testimonial-header">
                                                <div class="thumb">
                                                    <img src="https://product.geniusocean.com/genius-wallet/assets/images/17081516131644467428.png">
                                                </div>
                                                <div class="icon">
                                                    <i class="fas fa-quote-left"></i>
                                                </div>
                                            </div>
                                           
                                            <div class="testimonial-content">
                                                <p>
                                                    Incidunt maxime necessitatibus maiores voluptate, error vero velit, consequuntur ut porro  cumque beatae sed repellendus in non nulla at                            </p>
                                                <h5 class="name text--base mt-3">John Doe</h5>
                                            </div>
                                        </div>
                                                        <div class="testimonial-item">
                                            <div class="testimonial-header">
                                                <div class="thumb">
                                                    <img src="https://product.geniusocean.com/genius-wallet/assets/images/13860206431644467446.png">
                                                </div>
                                                <div class="icon">
                                                    <i class="fas fa-quote-left"></i>
                                                </div>
                                            </div>
                                           
                                            <div class="testimonial-content">
                                                <p>
                                                    Incidunt maxime necessitatibus maiores voluptate, error vero velit, consequuntur ut porro  cumque beatae sed repellendus in non nulla at                            </p>
                                                <h5 class="name text--base mt-3">Stephen Rodrick</h5>
                                            </div>
                                        </div>
                                                        <div class="testimonial-item">
                                            <div class="testimonial-header">
                                                <div class="thumb">
                                                    <img src="https://product.geniusocean.com/genius-wallet/assets/images/7314344801644467467.png">
                                                </div>
                                                <div class="icon">
                                                    <i class="fas fa-quote-left"></i>
                                                </div>
                                            </div>
                                           
                                            <div class="testimonial-content">
                                                <p>
                                                    Incidunt maxime necessitatibus maiores voluptate, error vero velit, consequuntur ut porro  cumque beatae sed repellendus in non nulla at                            </p>
                                                <h5 class="name text--base mt-3">Matt Damon</h5>
                                            </div>
                                        </div>
                                                </div>
                                </div>
                        <span class="banner-elem elem2">&nbsp;</span>
                    </section>
                    <!-- Testimonial -->