<aside id="sidebar-wrapper">
    <ul class="sidebar-menu">
        <li class="menu-header">Dashboard</li>
        <li class="nav-item">
          <a href="/merchant" class="nav-link"><i class="fab fa-fire"></i><span>Dashboard</span></a>
        </li>
        
        <li class="nav-item">
          <a href="/merchant/qr" class="nav-link"><i class="fas fa-qrcode"></i><span>QR Code</span></a>
        </li>
  
        <li class="nav-item">
          <a href="/merchant/api_key_form" class="nav-link"><i class="fas fa-key"></i><span>API Access Key</span></a>
        </li>
  
        <li class="nav-item">
          <a href="/merchant/transactions" class="nav-link"><i class="fas fa-exchange-alt"></i><span>Transactions</span></a>
        </li> 
  
        <li class="menu-header">Withdraw</li>
        <li class="nav-item dropdown">
          <a href="#" class="nav-link has-dropdown" data-toggle="dropdown"><i class="fas fa-university"></i> <span>Withdraw</span></a>
          <ul class="dropdown-menu">
            <li><a class="nav-link" href="/merchant/withdraw/form">Withdraw Money</a></li>
            <li><a class="nav-link" href="/merchant/withdraw/history">Withdraw History</a></li>
          </ul>
        </li>
  
        <li class="menu-header">Setting</li>
        <li class="nav-item">
          <a href="/merchant/profile/setting" class="nav-link"><i class="fab fa-user"></i><span>Profile Setting</span></a>
        </li>
        <li class="nav-item">
          <a href="/merchant/change/password" class="nav-link"><i class="fas fa-key"></i><span>Change Password</span></a>
        </li>
        <li class="nav-item">
          <a href="/merchant/two/step" class="nav-link"><i class="fas fa-lock"></i><span>Two Step Security</span></a>
        </li>
        <li class="nav-item">
          <a href="/merchant/ticket/index" class="nav-link"><i class="fas fa-ticket-alt"></i><span>Support Ticket</span></a>
        </li>
        <li class="nav-item">
          <a href="/merchant/logout" class="nav-link"><i class="fas fa-sign-out-alt"></i><span>Log Out</span></a>
        </li>
    </ul>
  </aside>

  
  