  <!-- Hero -->
  <section class="hero-section">
    <div class="container">
        <div class="hero-content">
            <h2 class="hero-title">    Blogs</h2>
            <ul class="breadcrumb">
                <li>
                    <a href="/">Home</a>
                </li>
                <li>
                        Blogs                        </li>
            </ul>
        </div>
    </div>
    <span class="banner-elem elem1">&nbsp;</span>
    <span class="banner-elem elem3">&nbsp;</span>
    <span class="banner-elem elem7">&nbsp;</span>
</section>
<!-- Hero -->

<!-- Call to Action Section -->
<% sections.forEach(section => { %>
    <% if (section.slug === 'blogs') { %>
        <%- include(`../sections/${section.slug}`) %>
    <% } %>
<% }); %>