<section class="section">
    <div class="section-header">
        <h1>QR Code</h1>
    </div>
</section>

<div class="qr--code">
    <div class="card">
        <div class="card-body text-center">
            <div>
                <img src="path_to_generated_qr_code_image" class="w-100" alt="QR Code">
            </div>
            <h6 class="mt-4">merchant_email@example.com</h6> <!-- Replace with the actual merchant's email -->
            <div class="mt-3">
                <a href="path_to_download_qr_code" class="btn btn-primary btn-lg btn-download">Download</a> <!-- Replace with the actual download path -->
            </div>
        </div>
    </div>
</div>