<section class="section">
    <div class="section-header">
        <h1>Transactions</h1>
    </div>
</section>

<div class="row">
    <div class="col-md-12">
        <div class="card">
            <div class="card-header">
                <form action="" class="row justify-content-md-end flex-grow-1">
                    <div class="col-12 col-md-6 col-xl-3 mb-2">
                        <select class="form-control w-100" onChange="window.location.href=this.value">
                            <option value="#">Select Remark</option>
                            <option value="#">Merchant Payment</option>
                            <option value="#">Merchant API Payment</option>
                            <option value="#">Withdraw Money</option>
                        </select>
                    </div>
                    <div class="col-12 col-md-6 col-xl-3 mb-2">
                        <div class="input-group has_append w-100">
                            <input type="text" class="form-control" placeholder="Transaction ID" value="" />
                            <div class="input-group-append">
                                <button class="input-group-text bg-primary border-0">
                                    <i class="fas fa-search text-white"></i>
                                </button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="card-body text-center">
                <div class="table-responsive">
                    <table class="table card-table table-vcenter text-nowrap datatable">
                        <thead>
                            <tr>
                                <th>Date</th>
                                <th>Transaction ID</th>
                                <th>Description</th>
                                <th>Remark</th>
                                <th>Amount</th>
                                <th>Details</th>
                            </tr>
                        </thead>
                        <tbody>
                                     
                            <tr>
                              <td data-label="Date">02-Mar-2022</td>
                              <td data-label="Transaction ID">EVZG0GKK1NLD</td>
                              <td data-label="Description">
                                Payment received from : demouser@gmail.com
                              </td>
                              <td data-label="Remark">
                                <span class="badge badge-dark">Merchant Payment</span>
                              </td>
                              <td data-label="Amount">
                                  <span class="text-success">+ 37.50 ZMW</span> 
                              </td>
                              <td data-label="Details" class="text-end">
                                  <button class="btn btn-primary btn-sm details" data-data="{&quot;id&quot;:4,&quot;trnx&quot;:&quot;EVZG0GKK1NLD&quot;,&quot;user_id&quot;:&quot;15&quot;,&quot;user_type&quot;:&quot;2&quot;,&quot;currency_id&quot;:&quot;1&quot;,&quot;wallet_id&quot;:&quot;32&quot;,&quot;charge&quot;:&quot;12.5000000000&quot;,&quot;amount&quot;:&quot;37.5000000000&quot;,&quot;remark&quot;:&quot;merchant_payment&quot;,&quot;type&quot;:&quot;+&quot;,&quot;details&quot;:&quot;Payment received from : demouser@gmail.com&quot;,&quot;invoice_num&quot;:null,&quot;created_at&quot;:&quot;2022-03-02T16:15:18.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-03-02T16:15:18.000000Z&quot;,&quot;currency&quot;:{&quot;id&quot;:1,&quot;default&quot;:&quot;1&quot;,&quot;symbol&quot;:&quot;$&quot;,&quot;code&quot;:&quot;ZMW&quot;,&quot;curr_name&quot;:&quot;United State Dollar&quot;,&quot;type&quot;:&quot;1&quot;,&quot;status&quot;:&quot;1&quot;,&quot;rate&quot;:&quot;1.0000000000&quot;,&quot;created_at&quot;:&quot;2021-12-19T21:12:58.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-06-25T23:38:18.000000Z&quot;}}">Details</button>
                              </td>
                            </tr>
                                         
                            <tr>
                              <td data-label="Date">15-Mar-2022</td>
                              <td data-label="Transaction ID">ERGWQBWNUI62</td>
                              <td data-label="Description">
                                Payment received from : demouser@gmail.com
                              </td>
                              <td data-label="Remark">
                                <span class="badge badge-dark">Merchant Payment</span>
                              </td>
                              <td data-label="Amount">
                                  <span class="text-success">+ 32.89 ZMW</span> 
                              </td>
                              <td data-label="Details" class="text-end">
                                  <button class="btn btn-primary btn-sm details" data-data="{&quot;id&quot;:102,&quot;trnx&quot;:&quot;ERGWQBWNUI62&quot;,&quot;user_id&quot;:&quot;15&quot;,&quot;user_type&quot;:&quot;2&quot;,&quot;currency_id&quot;:&quot;4&quot;,&quot;wallet_id&quot;:&quot;42&quot;,&quot;charge&quot;:&quot;2.1080700000&quot;,&quot;amount&quot;:&quot;32.8919300000&quot;,&quot;remark&quot;:&quot;merchant_payment&quot;,&quot;type&quot;:&quot;+&quot;,&quot;details&quot;:&quot;Payment received from : demouser@gmail.com&quot;,&quot;invoice_num&quot;:null,&quot;created_at&quot;:&quot;2022-03-15T15:03:20.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-03-15T15:03:20.000000Z&quot;,&quot;currency&quot;:{&quot;id&quot;:4,&quot;default&quot;:&quot;0&quot;,&quot;symbol&quot;:&quot;\u20ac&quot;,&quot;code&quot;:&quot;ZMW&quot;,&quot;curr_name&quot;:&quot;ZMWopean Currency&quot;,&quot;type&quot;:&quot;1&quot;,&quot;status&quot;:&quot;1&quot;,&quot;rate&quot;:&quot;0.9439350000&quot;,&quot;created_at&quot;:&quot;2021-12-19T21:12:58.000000Z&quot;,&quot;updated_at&quot;:&quot;2023-10-31T05:01:46.000000Z&quot;}}">Details</button>
                              </td>
                            </tr>
                                         
                            <tr>
                              <td data-label="Date">15-Mar-2022</td>
                              <td data-label="Transaction ID">ABHOAS4YPECF</td>
                              <td data-label="Description">
                                Payment received from : demouser@gmail.com
                              </td>
                              <td data-label="Remark">
                                <span class="badge badge-dark">Merchant Payment</span>
                              </td>
                              <td data-label="Amount">
                                  <span class="text-success">+ 4,778.15 ZMW</span> 
                              </td>
                              <td data-label="Details" class="text-end">
                                  <button class="btn btn-primary btn-sm details" data-data="{&quot;id&quot;:104,&quot;trnx&quot;:&quot;ABHOAS4YPECF&quot;,&quot;user_id&quot;:&quot;15&quot;,&quot;user_type&quot;:&quot;2&quot;,&quot;currency_id&quot;:&quot;6&quot;,&quot;wallet_id&quot;:&quot;41&quot;,&quot;charge&quot;:&quot;221.8523800000&quot;,&quot;amount&quot;:&quot;4778.1476200000&quot;,&quot;remark&quot;:&quot;merchant_payment&quot;,&quot;type&quot;:&quot;+&quot;,&quot;details&quot;:&quot;Payment received from : demouser@gmail.com&quot;,&quot;invoice_num&quot;:null,&quot;created_at&quot;:&quot;2022-03-15T15:49:57.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-03-15T15:49:57.000000Z&quot;,&quot;currency&quot;:{&quot;id&quot;:6,&quot;default&quot;:&quot;0&quot;,&quot;symbol&quot;:&quot;\u09f3&quot;,&quot;code&quot;:&quot;ZMW&quot;,&quot;curr_name&quot;:&quot;Bangladeshi Taka&quot;,&quot;type&quot;:&quot;1&quot;,&quot;status&quot;:&quot;1&quot;,&quot;rate&quot;:&quot;110.0010370000&quot;,&quot;created_at&quot;:&quot;2021-12-20T17:48:53.000000Z&quot;,&quot;updated_at&quot;:&quot;2023-10-31T05:01:46.000000Z&quot;}}">Details</button>
                              </td>
                            </tr>
                                         
                            <tr>
                              <td data-label="Date">15-Mar-2022</td>
                              <td data-label="Transaction ID">QKZQBJD19GXS</td>
                              <td data-label="Description">
                                Payment received from : demouser@gmail.com
                              </td>
                              <td data-label="Remark">
                                <span class="badge badge-dark">Merchant Payment</span>
                              </td>
                              <td data-label="Amount">
                                  <span class="text-success">+ 38.59 ZMW</span> 
                              </td>
                              <td data-label="Details" class="text-end">
                                  <button class="btn btn-primary btn-sm details" data-data="{&quot;id&quot;:112,&quot;trnx&quot;:&quot;QKZQBJD19GXS&quot;,&quot;user_id&quot;:&quot;15&quot;,&quot;user_type&quot;:&quot;2&quot;,&quot;currency_id&quot;:&quot;1&quot;,&quot;wallet_id&quot;:&quot;32&quot;,&quot;charge&quot;:&quot;2.4100000000&quot;,&quot;amount&quot;:&quot;38.5900000000&quot;,&quot;remark&quot;:&quot;merchant_payment&quot;,&quot;type&quot;:&quot;+&quot;,&quot;details&quot;:&quot;Payment received from : demouser@gmail.com&quot;,&quot;invoice_num&quot;:null,&quot;created_at&quot;:&quot;2022-03-15T18:14:47.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-03-15T18:14:47.000000Z&quot;,&quot;currency&quot;:{&quot;id&quot;:1,&quot;default&quot;:&quot;1&quot;,&quot;symbol&quot;:&quot;$&quot;,&quot;code&quot;:&quot;ZMW&quot;,&quot;curr_name&quot;:&quot;United State Dollar&quot;,&quot;type&quot;:&quot;1&quot;,&quot;status&quot;:&quot;1&quot;,&quot;rate&quot;:&quot;1.0000000000&quot;,&quot;created_at&quot;:&quot;2021-12-19T21:12:58.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-06-25T23:38:18.000000Z&quot;}}">Details</button>
                              </td>
                            </tr>
                                         
                            <tr>
                              <td data-label="Date">15-Mar-2022</td>
                              <td data-label="Transaction ID">L47RRYNXDQTW</td>
                              <td data-label="Description">
                                Payment received from : demouser@gmail.com
                              </td>
                              <td data-label="Remark">
                                <span class="badge badge-dark">Merchant Payment</span>
                              </td>
                              <td data-label="Amount">
                                  <span class="text-success">+ 10,718.15 ZMW</span> 
                              </td>
                              <td data-label="Details" class="text-end">
                                  <button class="btn btn-primary btn-sm details" data-data="{&quot;id&quot;:114,&quot;trnx&quot;:&quot;L47RRYNXDQTW&quot;,&quot;user_id&quot;:&quot;15&quot;,&quot;user_type&quot;:&quot;2&quot;,&quot;currency_id&quot;:&quot;6&quot;,&quot;wallet_id&quot;:&quot;41&quot;,&quot;charge&quot;:&quot;281.8523800000&quot;,&quot;amount&quot;:&quot;10718.1476200000&quot;,&quot;remark&quot;:&quot;merchant_payment&quot;,&quot;type&quot;:&quot;+&quot;,&quot;details&quot;:&quot;Payment received from : demouser@gmail.com&quot;,&quot;invoice_num&quot;:null,&quot;created_at&quot;:&quot;2022-03-15T18:15:09.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-03-15T18:15:09.000000Z&quot;,&quot;currency&quot;:{&quot;id&quot;:6,&quot;default&quot;:&quot;0&quot;,&quot;symbol&quot;:&quot;\u09f3&quot;,&quot;code&quot;:&quot;ZMW&quot;,&quot;curr_name&quot;:&quot;Bangladeshi Taka&quot;,&quot;type&quot;:&quot;1&quot;,&quot;status&quot;:&quot;1&quot;,&quot;rate&quot;:&quot;110.0010370000&quot;,&quot;created_at&quot;:&quot;2021-12-20T17:48:53.000000Z&quot;,&quot;updated_at&quot;:&quot;2023-10-31T05:01:46.000000Z&quot;}}">Details</button>
                              </td>
                            </tr>
                                         
                            <tr>
                              <td data-label="Date">19-Mar-2022</td>
                              <td data-label="Transaction ID">SZXHPKFMGNO9</td>
                              <td data-label="Description">
                                Payment received from : demouser@gmail.com
                              </td>
                              <td data-label="Remark">
                                <span class="badge badge-dark">Merchant Payment</span>
                              </td>
                              <td data-label="Amount">
                                  <span class="text-success">+ 1.00 ZMW</span> 
                              </td>
                              <td data-label="Details" class="text-end">
                                  <button class="btn btn-primary btn-sm details" data-data="{&quot;id&quot;:154,&quot;trnx&quot;:&quot;SZXHPKFMGNO9&quot;,&quot;user_id&quot;:&quot;15&quot;,&quot;user_type&quot;:&quot;2&quot;,&quot;currency_id&quot;:&quot;1&quot;,&quot;wallet_id&quot;:&quot;32&quot;,&quot;charge&quot;:&quot;0.0000000000&quot;,&quot;amount&quot;:&quot;1.0000000000&quot;,&quot;remark&quot;:&quot;merchant_payment&quot;,&quot;type&quot;:&quot;+&quot;,&quot;details&quot;:&quot;Payment received from : demouser@gmail.com&quot;,&quot;invoice_num&quot;:null,&quot;created_at&quot;:&quot;2022-03-19T09:34:29.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-03-19T09:34:29.000000Z&quot;,&quot;currency&quot;:{&quot;id&quot;:1,&quot;default&quot;:&quot;1&quot;,&quot;symbol&quot;:&quot;$&quot;,&quot;code&quot;:&quot;ZMW&quot;,&quot;curr_name&quot;:&quot;United State Dollar&quot;,&quot;type&quot;:&quot;1&quot;,&quot;status&quot;:&quot;1&quot;,&quot;rate&quot;:&quot;1.0000000000&quot;,&quot;created_at&quot;:&quot;2021-12-19T21:12:58.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-06-25T23:38:18.000000Z&quot;}}">Details</button>
                              </td>
                            </tr>
                                         
                            <tr>
                              <td data-label="Date">20-Mar-2022</td>
                              <td data-label="Transaction ID">NKCKVBAF7Y7S</td>
                              <td data-label="Description">
                                Payment received from : demouser@gmail.com
                              </td>
                              <td data-label="Remark">
                                <span class="badge badge-dark">Merchant Payment</span>
                              </td>
                              <td data-label="Amount">
                                  <span class="text-success">+ 10.00 ZMW</span> 
                              </td>
                              <td data-label="Details" class="text-end">
                                  <button class="btn btn-primary btn-sm details" data-data="{&quot;id&quot;:160,&quot;trnx&quot;:&quot;NKCKVBAF7Y7S&quot;,&quot;user_id&quot;:&quot;15&quot;,&quot;user_type&quot;:&quot;2&quot;,&quot;currency_id&quot;:&quot;6&quot;,&quot;wallet_id&quot;:&quot;41&quot;,&quot;charge&quot;:&quot;0.0000000000&quot;,&quot;amount&quot;:&quot;10.0000000000&quot;,&quot;remark&quot;:&quot;merchant_payment&quot;,&quot;type&quot;:&quot;+&quot;,&quot;details&quot;:&quot;Payment received from : demouser@gmail.com&quot;,&quot;invoice_num&quot;:null,&quot;created_at&quot;:&quot;2022-03-20T20:33:37.000000Z&quot;,&quot;updated_at&quot;:&quot;2022-03-20T20:33:37.000000Z&quot;,&quot;currency&quot;:{&quot;id&quot;:6,&quot;default&quot;:&quot;0&quot;,&quot;symbol&quot;:&quot;\u09f3&quot;,&quot;code&quot;:&quot;ZMW&quot;,&quot;curr_name&quot;:&quot;Bangladeshi Taka&quot;,&quot;type&quot;:&quot;1&quot;,&quot;status&quot;:&quot;1&quot;,&quot;rate&quot;:&quot;110.0010370000&quot;,&quot;created_at&quot;:&quot;2021-12-20T17:48:53.000000Z&quot;,&quot;updated_at&quot;:&quot;2023-10-31T05:01:46.000000Z&quot;}}">Details</button>
                              </td>
                            </tr>
                                              </tbody>
                    </table>
                </div>
            </div>
            <div class="pagination">
                <!-- Pagination links can go here -->
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="modal-success" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-body text-center py-4">
                <h3>Transaction Details</h3>
                <p class="trx_details"></p>
                <ul class="list-group mt-2"></ul>
            </div>
            <div class="modal-footer">
                <div class="w-100">
                    <div class="row">
                        <div class="col">
                            <a href="#" class="btn w-100 btn-dark" data-dismiss="modal">Close</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Add your script dependencies -->
<!-- <script src="/path_to_jquery.js"></script> Make sure to include your JS files -->
<script>
    'use strict';

    document.querySelectorAll('.details').forEach(function(button) {
        button.addEventListener('click', function() {
            var url = "/merchant/transaction/details/" + button.getAttribute('data');
            document.querySelector('.trx_details').innerText = "Transaction details for TRX123456"; // Placeholder text
            fetch(url)
                .then(response => response.text())
                .then(res => {
                    if (res === 'empty') {
                        document.querySelector('.list-group').innerHTML = '<p>No details found!</p>';
                    } else {
                        document.querySelector('.list-group').innerHTML = res;
                    }
                    $('#modal-success').modal('show');
                });
        });
    });
</script>

<style>
    .form-control {
        height: calc(1.8em + 0.75rem + 2px);
    }
</style>